{% extends "base_main_sub.html" %}

{% block body_html %}
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet"/>
  {% set member = request.state.login_member %}
  <!-- 상단 시작 { -->
  <nav class="navbar-expand-lg navbar-togglable fixed-top text-white">
    <div class="navsquare shadow-sm" style="
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 86px;
        z-index: -100;
      "></div>
    <div class="navsquare-sub shadow-sm " style="
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 246px;
        z-index: -100;
      ">
      <div style="height:76px"></div>
      <div class="conatiner">
        <div class="container">
          <div class="collapse navbar-collapse row text-center ">
            <div class="col-3"></div>
            <div class="navbar-nav nav-underline col-6 d-flex justify-content-between ">
              <div class="nav-item col-2">
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="{{ url_for('content_view', co_id='company') }}">회사소개</a>
                </div>
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="">ESG</a>
                </div>
              </div>
              <div class="nav-item col-2">
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/board/menu">음료</a>
                </div>
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/board/menu">빵</a>
                </div>
              </div>
              <div class="nav-item col-2">
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/board/class">교육신청</a>
                </div>
              </div>
              <div class="nav-item col-2">
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/board/rentalroom">대관신청</a>
                </div>
              </div>
              <div class="nav-item col-2">
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/board/notice">공지사항</a>
                </div>
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/board/event">이벤트</a>
                </div>
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="">일정</a>
                </div>
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/board/donerwrite">후원</a>
                </div>
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/board/livevideo">활동영상</a>
                </div>
              </div>
              <div class="nav-item col-2">
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/bbs/faq">자주하시는 질문</a>
                </div>
                <div class="row">
                  <a class="navsubbutton nav-link text-menu-sub" href="/bbs/faq">고객의 소리</a>
                </div>
              </div>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container px-0 py-4">
      <div class="container">
        <div class="row d-lg-none">
          <div class="col-6">
            <a class="navbar-brand text-start text-emp title fs-1" href="/">NOLDAGA</a>
          </div>
          <div class="col-6 text-end">
            <a class=" border-primary rounded" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="collapse navbar-collapse row text-center" id="navbarCollapse">
          <a class="navbar-brand text-center d-none d-lg-flex mx-lg-auto fs-1 title text-emp col-3" href="/">
            <div class="col-12 text-start">
              NOLDAGA
            </div>
          </a>
          <div class="navbar-nav nav-underline col-lg-6 col-xs-12 d-flex justify-content-between">
            <div class="nav-item col-2">
              <a class="navbutton fs-5 nav-link text-white font-weight-bold fw-bold" href="{{ url_for('content_view', co_id='company') }}">소개</a>
            </div>
            <div class="nav-item col-2">
              <a class="navbutton fs-5 nav-link text-white font-weight-bold fw-bold" href="/board/menu">메뉴</a>
            </div>
            <div class="nav-item col-2">
              <a class="navbutton fs-5 nav-link text-white font-weight-bold fw-bold" href="/board/class">교육</a>
            </div>
            <div class="nav-item col-2">
              <a class="navbutton fs-5 nav-link text-white font-weight-bold fw-bold" href="/board/rentalroom">대관</a>
            </div>
            <div class="nav-item col-2">
              <a class="navbutton fs-5 nav-link text-white font-weight-bold fw-bold" href="/board/notice">소식</a>
            </div>
            <div class="nav-item col-2">
              <a class="navbutton fs-5 nav-link text-white font-weight-bold fw-bold" href="/bbs/faq">고객지원</a>
            </div>
          </div>
          <div class="col-3 m-0" style="height:36.8px">
            <div class="row text-end h-100">
              <div class="row h-50">
                {% if request.state.login_member %}
                  <div class="col">
                    <a class="text-emp" href="/bbs/logout">로그아웃</a>
                    <a class="text-emp" href="/bbs/member_confirm">정보수정</a>
                  </div>
                {% else %}
                  <div class="col">
                    <a class="text-emp" href="/bbs/login">로그인</a>
                    <a class="text-emp" href="/bbs/register">회원가입</a>
                  </div>
                {% endif %}
              </div>
              <div class="row h-50">
                {% if request.state.login_member %}
                  <div class="col text-emp">
                    어서오세요
                    {{ member.mb_nick if member is defined else '' }}
                    님
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title title text-emp" id="offcanvasExampleLabel">NOLDAGA</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              소개
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="row">
                <a class="nav-link text-menu-sub" href="{{ url_for('content_view', co_id='company') }}">회사소개</a>
              </div>
              <div class="row">
                <a class="nav-link text-menu-sub" href="">ESG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              메뉴
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="row">
                <a class="nav-link text-menu-sub" href="/board/menu">음료</a>
              </div>
              <div class="row">
                <a class="nav-link text-menu-sub" href="/board/menu">빵</a>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              교육
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="row">
                <a class="nav-link text-menu-sub" href="/board/class">교육신청</a>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
              대관
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="row">
                <a class="nav-link text-menu-sub" href="/board/rentalroom">대관신청</a>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
              소식
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="row">
                <a class="nav-link text-menu-sub" href="/board/notice">공지사항</a>
              </div>
              <div class="row">
                <a class="nav-link text-menu-sub" href="/board/event">이벤트</a>
              </div>
              <div class="row">
                <a class="nav-link text-menu-sub" href="">일정</a>
              </div>
              <div class="row">
                <a class="nav-link text-menu-sub" href="/board/donerwrite">후원</a>
              </div>
              <div class="row">
                <a class="nav-link text-menu-sub" href="/board/livevideo">활동영상</a>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
              고객지원
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="row">
                <a class="nav-link text-menu-sub" href="/bbs/faq">자주하시는 질문</a>
              </div>
              <div class="row">
                <a class="nav-link text-menu-sub" href="/bbs/faq">고객의 소리</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- } 상단 끝 -->

  {% if errors %}
    <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- 콘텐츠 시작 { -->
  {% block subtitle %}{% endblock subtitle %}
  {% block content %}{% endblock content %}
  <!-- } 콘텐츠 끝 -->
  <hr>

  <!-- 하단 시작 { -->
  <div id="ft">
    <div id="ft_wr">
      <div id="ft_link" class="ft_cnt">
        <div class="container px-4">
          <div class="row gx-7">
            <div class="col-sm-4">
              <h5 class="text-xs text-menu">
                은행정보
              </h5>
              <p class="mb-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum, sint corporis nostrum, possimus unde eos vitae eius quasi saepe.
              </p>
            </div>
            <div class="col-sm-4">
              <h5 class="text-xs text-menu">
                회사정보
              </h5>
              <ul class="list-unstyled mb-6 h5">
                <li class="d-flex mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewbox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                  </svg>
                  &nbsp;주소 : 전라남도 나주시 산포면 산남로 76-0
                </li>
                <li class="d-flex mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewbox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                  </svg>
                  &nbsp;연락처 : +1 987 654 3210
                </li>
                <li class="d-flex mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewbox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                    <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                  </svg>
                  &nbsp;<a href="mailto:admin@domain.com">admin@domain.com</a>
                </li>
                <li class="d-flex mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
                  &nbsp;대표 : 김다영
                </li>
                <li class="d-flex mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewbox="0 0 16 16">
                    <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                  </svg>
                  &nbsp;사업자 등록번호 : 680-87-02367
                </li>
              </ul>

            </div>
            <div class="col-sm-4">
              <h5 class="text-xs text-menu">
                오픈 시간
              </h5>
              <div class="mb-3">
                <div class="text-xs">월 ~ 토</div>
                <div class="text-xs">9:00 AM - 10:00 PM</div>
              </div>
              <div class="mb-6">
                <div class="text-xs">일
                </div>
                <div class="text-xs">2:00 PM - 10:00 PM</div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-center">
                <hr class="hr-sm me-3" style="height: 1px;">
              </div>
            </div>
          </div>
        </div>

        {% if not request.state.is_responsive %}
          {% if request.state.is_mobile %}
            <a href="{{ url_for('device_change', device='pc') }}">PC버전</a>
          {% else %}
            <a href="{{ url_for('device_change', device='mobile') }}">모바일버전</a>
          {% endif %}
        {% endif %}
      </div>
      <div id="ft_company" class="ft_cnt"></div>
    </div>
    <div id="ft_copy">
      <div class="row">
        <div class="col-6 ">
          <a class="text-gray" href="{{ url_for('content_view', co_id='company') }}">회사소개</a>
          <a class="text-gray" href="{{ url_for('content_view', co_id='privacy') }}">개인정보처리방침</a>
          <a class="text-gray" href="{{ url_for('content_view', co_id='provision') }}">서비스이용약관</a>
        </div>
        <div class="col-6">Copyright &copy;
          <b>{{ request.url.hostname }}.</b>
          All rights reserved.</div>
      </div>

    </div>

    <button type="button" id="top_btn">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
      <span class="blind">상단으로</span>
    </button>
  </div>
</div>
{% if request.state.config.cf_analytics %}
  {{ request.state.config.cf_analytics|safe }}
{% endif %}

<!-- } 하단 끝 -->

<script>
  // 상단 스크롤 버튼
  $(function () {
    $("#top_btn").on("click", function () {
      $("html, body").animate({
        scrollTop: 0
      }, '500');
      return false;
    });
  });
</script>
{% endblock body_html %}
