{% extends "base_main.html" %}

{% block title %}{{ request.state.title }}
{% endblock title %}

{% block content %}
  {% include "/bbs/newwin.inc.html" %}
  <header style="z-index: 0; height: 100%">
    <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0 ">
      <div class="container my-auto">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">
            <h4 class="text-xs text-white" style="margin: -10px">
              Cafe / LiveHouse
            </h4>
            <h1 class="display-1 title text-emp">NOLDAGA</h1>

            <p class="text-center text-white" style="word-break: keep-all">
              카페『놀다가』는 카페와 라이브하우스를 접목시켜 독특한 분위기를 지닌 공간으로, 음료와 음악이 여러분에게 특별한 경험을 선사합니다. 다양한 공연과 이벤트를 즐겨보세요.
            </p>

            <a href="" class="button btnFade">대관 예약</a>
          </div>
        </div>
      </div>
    </div>
    <div style="
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          z-index: -100;
        " class="dark-image">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="d-block w-100 full-img"/>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="d-block w-100 full-img"/>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="pt-md-9 py-5 border-bottom d-flex align-items-center my-5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 mx-auto">
          <div class="row justify-content-center">
            <div class="col-md-9 ">
              <div class="my-4" style="word-break: keep-all">
                <h4>WELCOME TO NOLDAGA</h4>
                <h2>놀다가 카페에 오신걸 환영합니다.</h2>
                고급 원두를 직접 로스팅하여 저희 카페만의 특색있는 맛을 살렸습니다. 음료를 마시며 공연을 즐겨보세요!
              </div>
              <div class="py-5">
                <a href="" class="button btnFade">카페 소개</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 align-self-center mx-auto">
          <div class="mb-5 mb-md-0">
            <img class="img-fluid" src="{{ theme_asset(request, 'img/tem.jpg') }}"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-md-9 py-5 border-bottom d-flex align-items-center my-5">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 align-self-center mx-auto">
          <div class="mb-5 mb-md-0">
            <img class="img-fluid" src="{{ theme_asset(request, 'img/tem.jpg') }}"/>
          </div>
        </div>
        <div class="col-md-6 mx-auto ">
          <div class="row justify-content-center">
            <div class="col-md-9 text-end">
              <div class="my-4" style="word-break: keep-all">
                <h4>WELCOME TO NOLDAGA</h4>
                <h2>놀다가 카페에 오신걸 환영합니다.</h2>
                고급 원두를 직접 로스팅하여 저희 카페만의 특색있는 맛을 살렸습니다. 음료를 마시며 공연을 즐겨보세요!
              </div>
              <div class="py-5">
                <a href="" class="button btnFade">카페 소개</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-md-9 py-5 my-5 border-bottom d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center mb-5">
          <h2 class="section-title">이달의 추천 메뉴</h2>
        </div>
      </div>
      <div class="owl-carousel owl-theme" style="height:50%">
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
        <div class="item">
          <img src="{{ theme_asset(request, 'img/test.jpg') }}" class="img-fluid"/>
        </div>
      </div>
      <div class="row">
        <a href="" class="button btnFade">더 많은 메뉴</a>
      </div>
    </div>
  </section>
  <section class="pt-md-9 border-bottom" style="height:120vh">
    <div style="height:20vh">
      <div class="container">
        <div class="row">
          <div class="col h2 mt-5 text-center section-title">다가오는 공연</div>
        </div>
      </div>
    </div>
    <div style="height:60vh; background-image: url('{{ theme_asset(request, 'img/back.jpg') }}'); background-size: cover; background-position: center;">
      <div style="background-color: rgba(0, 0, 0, 0.5); width:100%; height:100%">
        <div class="container d-flex align-items-center" style="height:100%">
          <div class="row py-5">
            <div class="col-md-8 col-lg-5">
              <!-- Date -->

              <div class="grade-title mb-2 d-inline-block">
                <h2>
                  2024월 03월 30일 토요일
                </h2>
              </div>
              <!-- Heading -->
              <h2 class="mb-3 text-white">모두가 함께 참여하는 놀다가 문화의 날입니다! 전문적인 밴드부터 취미 밴드까지 다양한 공연을 보실 수 있습니다!</h2>

              <!-- Button -->
              <a class="btn btn-primary text-white " href="">
                일정 확인하기
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height:30vh">
      <div class="event-sm  show" style="height:50%">
        <div class="container border-top" style="height:100%">
          <div class="row align-items-center py-6 border-bottom" style="height:100%">
            <div class="col-3 col-md-2 col-lg-2" style="position: relative; height:50%">
              <svg class="position-absolute top-0 start-0" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 100 100" preserveaspectratio="none">
                <polygon points="50,0 100,50 50,100 0,50" style="fill: none; stroke: rgba(1,1,1,0.8); stroke-width: 2px;"/>
              </svg>
              <div class="text-center" style="height: 100%; display: flex; justify-content: center; align-items: center;">
                <div>
                  <span class="d-block mb-2 display-6 font-serif">29</span>
                  <span>Sep</span>
                </div>
              </div>
            </div>
            <div class="col-9 col-md-7 col-lg-7 ps-4">
              <!-- Heading -->
              <div class="h4 mb-4 mb-md-0 ps-4" data-bs-toggle="collapse" data-bs-target="#eventTwo" aria-controls="eventTwo" role="button">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="event-sm  show" style="height:50%">
        <div class="container border-top" style="height:100%">
          <div class="row align-items-center py-6 border-bottom" style="height:100%">
            <div class="col-3 col-md-2 col-lg-2" style="position: relative; height:50%">
              <svg class="position-absolute top-0 start-0" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 100 100" preserveaspectratio="none">
                <polygon points="50,0 100,50 50,100 0,50" style="fill: none; stroke: rgba(1,1,1,0.8); stroke-width: 2px;"/>
              </svg>
              <div class="text-center" style="height: 100%; display: flex; justify-content: center; align-items: center;">
                <div>
                  <span class="d-block mb-2 display-6 font-serif">29</span>
                  <span>Sep</span>
                </div>
              </div>
            </div>
            <div class="col-9 col-md-7 col-lg-7 ps-4">
              <!-- Heading -->
              <div class="h4 mb-4 mb-md-0 ps-4" data-bs-toggle="collapse" data-bs-target="#eventTwo" aria-controls="eventTwo" role="button">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-md-9 py-5 border-bottom d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center mb-5 section-title">
            <h2>원데이 클래스</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="text-center">
            <p class="d-inline-flex gap-1">
              <a class=" btn oneday_btn oneday_btn_clicked" onclick="toggleCollapse('collapseAppetizers')">요리</a>
              <a class=" btn oneday_btn" onclick="toggleCollapse('collapseMainCourse')">음악</a>
              <a class=" btn oneday_btn" onclick="toggleCollapse('collapseDesserts')">기타</a>
            </p>
          </div>
          <div class="collapse" id="collapseAppetizers">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Lorem ipsum dolor sit amet</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$15</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce id ante ut arcu</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$23</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce sed dolor eget tortor</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$16</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Lorem ipsum dolor sit amet</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$15</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce id ante ut arcu</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$23</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce sed dolor eget tortor</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$16</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseMainCourse">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Lorem ipsum dolor sit amet</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$15</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce id ante ut arcu</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$23</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce sed dolor eget tortor</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$16</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Lorem ipsum dolor sit amet</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$15</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce id ante ut arcu</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$23</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce sed dolor eget tortor</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$16</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseDesserts">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Lorem ipsum dolor sit amet</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$15</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce id ante ut arcu</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$23</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce sed dolor eget tortor</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$16</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Lorem ipsum dolor sit amet</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$15</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce id ante ut arcu</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$23</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="py-3 border-bottom">
                  <div class="row">
                    <div class="col-3 align-self-center">
                      <!-- Image -->
                      <div class="ratio ratio-1x1">
                        <img class="object-fit-cover" src="{{ theme_asset(request, 'img/test.jpg') }}" alt="...">
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- Heading -->
                      <h5 class="mb-2">Fusce sed dolor eget tortor</h5>

                      <!-- Text -->
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.</p>
                    </div>
                    <div class="col-2">
                      <!-- Price -->
                      <div class="fs-4 font-serif text-center text-body-emphasis">$19</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 3
          },
          1000: {
            items: 5
          }
        }
      })
    </script>
    <script>
      const toggleCollapse = (id) => {
        const collapse = document.getElementById(id);
        const isCollapsed = collapse.style.display === 'block';
        const allCollapses = document.querySelectorAll('.collapse');
        const allOndayBtn = document.querySelectorAll('.oneday_btn');
        allCollapses.forEach(c => {
          if (c.id !== id || !isCollapsed) {
            c.style.display = 'none';
          }
        });
        allOndayBtn.forEach(c => {
          c
            .classList
            .remove("oneday_btn_clicked")
        })
        if (!isCollapsed) {
          collapse.style.display = 'block';
        }
        event
          .currentTarget
          .classList
          .add("oneday_btn_clicked");
      }
      document
        .getElementById('collapseAppetizers')
        .style
        .display = 'block';
    </script>
  {% endblock content %}
