!.gitignore
.vscode
.vscode-server
__pycache__
*.pyc
*.pyo
.viminfo
.cache
.local
.bash*
data/
.idea
.env
prod.env
dev.env
certificate.crt
private.key
sqlite3.db
*.db
venv/
plugin_states.json
plugin_states.json.lock
log_config.ini
uvicorn.log
log/
nginx/*.crt
nginx/*.key
db
