{% extends "base.html" %}

{% block title %}{% endblock title %}
{% block subtitle %}
  {{ title }}
{% endblock subtitle %}
{% block content %}
  {% if co_himg_url %}
    <div id="ctt_himg">
      <img src="{{ co_himg_url }}" alt=""/>
    </div>
  {% endif %}

  <article id="ctt" class="ctt_{{ content.co_id }}">
    <div id="ctt_con">
      {{ content.co_content|safe }}
    </div>
  </article>

  {% if co_timg_url %}
    <div id="ctt_timg">
      <img src="{{ co_timg_url }}" alt=""/>
    </div>
  {% endif %}
{% endblock content %}
