
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap');

.dongle-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dongle-bold {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.underline {
  text-decoration: underline;
}
.dark-image {
  filter: brightness(60%);
}
.full-img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.pagination { display:flex; justify-content: center; align-items: center; gap:3px; }
.pagination .page { display:inline-block; padding:0 5px; min-width:30px; height:30px; line-height:28px; border-radius:3px; border:1px solid var(--pgBg); background:var(--pgBg); color:#959595; font-size:1.3rem; text-align:center; text-decoration:none }
.pagination .page:hover,
.pagination .page:focus { background-color:#24B1AA; border:1px solid var(--pgBg) }
.pagination .current,
.pagination .current:hover,
.pagination .current:focus { background-color:rgb(36, 178, 171); border:1px solid #24B1AA; color:#fff; font-weight:bold; }



@font-face {
  font-family: 'Hakgrounded-startyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2')
    format('woff2');

  font-style: normal;
}


.menu-price{
  font-size:15px;
  font-weight: bold;
}
.menu-title{
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:30px;
  color:orange;
}
body {
  font-family: 'HakgyoansimWoojuR', sans-serif;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.title {
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:50px;
}
.navsquare {
  height: 50px;
  background-color: white;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0, 0.9, 0.5, 1);
}
.navsquare.expanded {
  transform: scaleY(1);
}
.navsquare.shrink {
  transform: scaleY(0);
}
.navsquare-sub {
  height: 50px;
  background-color: white;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0, 0.9, 0.5, 1);
}
.navsquare-sub.expanded {
  transform: scaleY(1);
}
.navsquare-sub.shrink {
  transform: scaleY(0);
}

a.button {
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 0;
  margin: auto;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  background: #24B1AA;
  text-decoration-line: none;
}
.text-emp {
  color: rgba(255, 255, 255, 1);
  color: #24B1AA;
  text-decoration-line: none;
}
.btnFade:hover {
  background: rgb(0, 90, 71);
  color: #fff;
}
.media-decoration-img {
  border: 2px solid #000; /* 테두리 스타일 */
  border-radius: 8px; /* 테두리 모서리 둥글게 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */

}
.media-decoration-border {
  border: 2px solid #000; /* 테두리 스타일 */
  border-radius: 8px; /* 테두리 모서리 둥글게 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
}
.text-menu{
  color:#24B1AA;
}

.text-gray{
  color:#999999;
}
.text-menu-sub{
  color:#273332;
}

.grade-title{
  font-family: "Dongle", sans-serif;
  font-style:italic;
  font-weight: bold;
  font-size:50px;
  color: #fff;
  position: relative;
  padding: 1rem 0.5rem;
}
.grade-title:after{
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(right, #00b0ff 0%, #00e676 100%);
  background-image: linear-gradient(to left, #00b0ff 0%, #00e676 100%);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.section-title:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #24B1AA;
}

.oneday_btn{
  text-decoration-line: none;
}

.dongle-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
  }

  .dongle-bold {
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.oneday_btn:hover{
  text-decoration-line:underline;
}

.oneday_btn_clicked
{
  color: #fff;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  border-radius: 100vh;
  background-color: #24B1AA;
}
