
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap');

.dongle-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dongle-bold {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.underline {
  text-decoration: underline;
}
.underline-none{
  text-decoration: none;
}
.dark-image {
  filter: brightness(60%);
}
.full-img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.pagination { display:flex; justify-content: center; align-items: center; gap:3px; }
.pagination .page { display:inline-block; padding:0 5px; min-width:30px; height:30px; line-height:28px; border-radius:3px; border:1px solid var(--pgBg); background:var(--pgBg); color:#959595; font-size:1.3rem; text-align:center; text-decoration:none }
.pagination .page:hover,
.pagination .page:focus { background-color:#24B1AA; border:1px solid var(--pgBg) }
.pagination .current,
.pagination .current:hover,
.pagination .current:focus { background-color:rgb(36, 178, 171); border:1px solid #24B1AA; color:#fff; font-weight:bold; }

.text-border{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


@font-face {
  font-family: 'Hakgrounded-startyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2')
    format('woff2');

  font-style: normal;
}

.menu-item:not(:last-child) {
  position: relative; /* 부모 요소로부터 상대적으로 위치를 지정합니다. */
}
.menu-item:not(:last-child)::after {
  content: ""; /* 가상 요소에 내용을 추가합니다. */
  position: absolute; /* 절대 위치로 지정합니다. */
  top: 50%; /* 부모 요소의 중앙에 배치합니다. */
  right: 0; /* 오른쪽에 배치합니다. */
  transform: translateY(-50%); /* 수직으로 중앙에 배치합니다. */
  width: 1px; /* 구분선의 너비를 지정합니다. */
  height: 60%; /* 구분선의 높이를 지정합니다. */
  background-color: #ced4da; /* 구분선의 색상을 지정합니다. */
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video>div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.border-button{
  border: #24B1AA solid 2px;
  border-radius: 5%;
  padding:3px;
  color:#24B1AA
}
.menu-price{
  font-size:15px;
  font-weight: bold;
}
.menu-title{
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:30px;
  color:orange;
  line-height:20px;
}
body {
  font-family: 'HakgyoansimWoojuR', sans-serif;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.title {
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:100px;
}
.title-sub{
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:50px;
}
.sub-title{
  font-family: 'HakgyoansimWoojuR', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:15px;
    letter-spacing:10px;
    color: gray;
}
.sub-title-small{
  font-family: 'HakgyoansimWoojuR', sans-serif;
    margin-top:-10px; 
    margin-left:3px;
    font-weight: 700;
    font-style: normal;
    font-size:7px; 
    letter-spacing:5px;
    color: gray;
}
.navsquare {
  height: 50px;
  background-color: white;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0, 0.9, 0.5, 1);
}
.navsquare.expanded {
  transform: scaleY(1);
}
.navsquare.shrink {
  transform: scaleY(0);
}
.navsquare-sub {
  height: 50px;
  background-color: white;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0, 0.9, 0.5, 1);
}
.navsquare-sub.expanded {
  transform: scaleY(1);
}
.navsquare-sub.shrink {
  transform: scaleY(0);
}

a.button-white {
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 0;
  margin: auto;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #000000;
  transition: all 0.2s;
  text-decoration-line: none;
  border:1px solid black
}

a.button-black{
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 0;
  margin: auto;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: white;
  transition: all 0.2s;
  text-decoration-line: none;
  border:1px solid white
}

.text-emp-wrapper{
  display:flex;
  flex-direction: column;
}
.text-emp {
  color: #24B1AA;
  text-decoration-line: none;
}
.media-decoration-img {
  border: 2px solid #000; /* 테두리 스타일 */
  border-radius: 8px; /* 테두리 모서리 둥글게 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */

}
.media-decoration-border {
  border: 2px solid #000; /* 테두리 스타일 */
  border-radius: 8px; /* 테두리 모서리 둥글게 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
}
.text-menu{
  /* color:#24B1AA; */
  color:#273332;
}

.text-gray{
  color:#999999;
}
.text-menu-sub{
  color:#273332;
}
.text-over{
  color: #24B1AA;
  text-decoration-line: underline;
}

.owl-carousel > .owl-nav > .owl-prev{
  position:absolute;
  top:45%;
  right:90%;
  background:transparent;
}
.owl-carousel > .owl-nav > .owl-next{
  position:absolute;
  top:45%;
  left:90%;
  background:transparent;
}

.owl-carousel > .owl-nav > .owl-prev:hover, .owl-carousel > .owl-nav > .owl-next:hover {
  background:transparent;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.section-title:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #24B1AA;
}

.oneday_btn{
  text-decoration-line: none;
}

.dongle-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
  }

  .dongle-bold {
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.oneday_btn:hover{
  text-decoration-line:underline;
}

.oneday_btn_clicked
{
  color: #fff;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  border-radius: 100vh;
  background-color: #24B1AA;
}

.register_form_inner .frm_input:not(:placeholder-shown) + label.text_input{
  color: var(--primaryColor); /* 필드에 값이 있을 때 */
}