{% extends "base.html" %}

{% block title %}{% endblock title %}
{% block subtitle %}
    <header style="z-index: 100; height: 350px;">
      <div style="
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 350px;
            z-index: -100;
            overflow:hidden;" class="dark-image"><img src="{{ co_himg_url }}" style="width: 100%; height: auto;"/>
      </div>

      <div class="d-flex flex-column min-vh-50 bg-black-50 " style="height: 350px;padding-top:100px">
        <div class="container my-auto">
          <div class="row justify-content-center align-center">
            <div class="col-12 col-md-8 col-lg-6 text-center">
              <h1 class="text-xs text-white fw-bold" style="">
                {{ title }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock subtitle %}
{% block content %}
  {% if co_himg_url %}
    <div id="ctt_himg">
      <img src="{{ co_himg_url }}" alt=""/>
    </div>
  {% endif %}

  <article id="ctt" class="ctt_{{ content.co_id }}">
    <div id="ctt_con">
      {{ content.co_content|safe }}
    </div>
  </article>

  {% if co_timg_url %}
    <div id="ctt_timg">
      <img src="{{ co_timg_url }}" alt=""/>
    </div>
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.11/index.global.js" integrity="sha512-f9WyGYcRzTKXCWy0pxm+qRi/yK2s4MpPEvAZMMYmHUKBERiDJ5uKVjn2Q142bpfkQ/+dE3CH5P9J3Z87kxdnNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      let today = new Date();
      console.log(today);
      var year = today.getFullYear();
      var month = ('0' + (
      today.getMonth() + 1)).slice(-2);
      var day = ('0' + today.getDate()).slice(-2);
      var dateString = year + '-' + month + '-' + day;

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prevYear,prev,next,nextYear',
          center: 'title',
          right: 'dayGridMonth,dayGridWeek,dayGridDay'
        },
        initialDate: dateString,
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: [
          {
            title: '놀다가 문화의 날',
            start: '2024-03-30'
          }, {
            groupId: 999,
            title: 'Repeating Event',
            start: '2023-01-09T16:00:00'
          }, {
            groupId: 999,
            title: 'Repeating Event',
            start: '2023-01-16T16:00:00'
          }, {
            title: 'Conference',
            start: '2023-01-11',
            end: '2023-01-13'
          }, {
            title: 'Meeting',
            start: '2023-01-12T10:30:00',
            end: '2023-01-12T12:30:00'
          }, {
            title: 'Lunch',
            start: '2023-01-12T12:00:00'
          }, {
            title: 'Meeting',
            start: '2023-01-12T14:30:00'
          }, {
            title: 'Happy Hour',
            start: '2023-01-12T17:30:00'
          }, {
            title: 'Dinner',
            start: '2023-01-12T20:00:00'
          }, {
            title: 'Birthday Party',
            start: '2023-01-13T07:00:00'
          }, {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: '2023-01-28'
          }
        ]
      });

      calendar.render();
    });
  </script>
{% endblock content %}
